<!-- lab 1  -->
<!-- <main>
  <div>
    <h4>Thông tin sinh viên</h4>
    <img width="200" src="{{ student.img }}" alt="" />
  </div>
  <ul>
    <li><span>Họ và tên :</span> {{ student.username }}</li>
    <li><span>Ngày Sinh :</span>{{ student.date }}</li>
    <li><span>Giới tính :</span> {{ student.gender }}</li>
    <li><span>Điểm trung bình : </span>{{ student.course }}</li>
  </ul>
  <h3>bài 3</h3>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">year</th>
        <th scope="col">pass</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Inventor of Inventors; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ Inventor.first }}</td>
        <td>{{ Inventor.last }}</td>
        <td>{{ Inventor.year }}</td>
        <td>{{ Inventor.passed }}</td>
      </tr>
    </tbody>
  </table>
  <h3>bài 4</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">product</th>
        <th scope="col">code</th>
        <th scope="col">avaliable</th>
        <th scope="col">price</th>
        <th scope="col">5 star rating</th>
      </tr>
    </thead>
    <tbody>
      <listproduct
        *ngFor="let ItemProduct of Products"
        [ItemProduct]="ItemProduct"
      >
      </listproduct>
    </tbody>
  </table>
</main> -->
<!-- lab 2  -->
<!-- <app-header></app-header>
<main>
  <app-productlist>
    
  </app-productlist>
</main> -->
<router-outlet />
